html,
body {
    width: 100%;
    height: 100vh;
    font-family: $quicksand;
    font-size: 14px;
    color: $base-black;
}

li:hover,
textarea:hover,
input:hover,
li:active,
textarea:active,
input:active,
li:focus,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: none;
}

label {
    margin: 0 !important;
}

ul,
li {
    list-style-type: none;
}

a {
    color: #414141;
    text-decoration: none;
}

a:hover,
li:hover {
    cursor: pointer;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fefefe;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 206, 181);
}

.jn-nav {
    font-weight: 400 !important;
    font-size: 18px;
    padding: 20px 40px;
}

.jn-nav .active-link-indicator {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    position: absolute;
    top: 55px;
    border-radius: 4px;
    border: 4px solid $base-white;
    width: 0;
    visibility: hidden;
}

.jn-main-container {
    position: absolute;
    z-index: 999;
    top: 150px;
    padding: 0 50px;
}
