@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../assets/scss/jn-colors';
@import '../../../assets/scss/jn-mixins';

.jn-nav .logo {
    position: absolute;
    top: 0;
    z-index: 999;
    @include transition(all 0.3s ease);
}

.jn-nav .logo.animate {
    @include animation(0s, 0.3s, zoom-out, 1);
}

.jn-nav .logo img {
    min-height: 150px;
    max-height: 150px;
}

.jn-nav ul {
    margin-bottom: 0;
}

.jn-nav .list-inline-item > a {
    color: $base-white;
}

.jn-nav .list-inline-item > a:hover {
    color: darken($base-white, 10%);
}

.jn-nav .dropdown-menu {
    margin-top: 20px;
    box-shadow: 0 2px 8px 0 rgba(166, 166, 166, 0.1);
}

.banner {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.banner .background {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .background svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    stroke: none;
    background-color: transparent;
    z-index: 9;
    @include transition(all 0.3s ease);
}

.banner .background svg .low {
    fill: rgba(lighten($base-green, 15%), 0.5);
}

.banner .background svg .mid {
    fill: rgba(lighten($base-green, 10%), 0.8);
}

.banner .background svg .top {
    fill: $base-green;
}

.banner .background svg.small {
    @include translateY(0);
}

.banner .background svg.large {
    @include translateY(-100%);
}

.banner .background.expand svg.small {
    @include translateY(-100%);
}

.banner .background.expand svg.large {
    @include translateY(0);
}
