<div class="container-fluid footer-container p-0" *ngIf="checkIfWhitelisted()">
    <div class="container">
        <div class="row site-footer">
            <div class="col-5 p-0">
                <ul>
                    <li class="mb-4">
                        <span><u>About Us</u></span>
                    </li>
                    <li class="mb-4">
                        <span><u>Careers</u></span>
                    </li>
                    <li class="mb-4">
                        <span><u>Blog</u></span>
                    </li>
                    <li class="mb-4">
                        <span><u>Help & Support</u></span>
                    </li>
                    <li class="mb-4">
                        <span><u>Sitemap</u></span>
                    </li>
                </ul>
            </div>
            <div class="col-7 p-0">
                <h4 class=" mb-3">Contact</h4>
                <p>Questions? Send us an email! <br><u class="font-weight-500">support@renaltracker.com</u></p>
                <p>Or leave us a voicemail. <br><u class="font-weight-500">+1 888 207 0580</u></p>
                <p>We're available 8 a.m. and 6 a.m.</p>
            </div>
        </div>
    </div>
</div>
