.footer-container {
  position: absolute;
  left: 0;
  background: linear-gradient(177.53deg, rgba(98, 177, 142, 0.60454) -41.22%, #28c0c3 52.75%);
  margin-top: 120px;
}

.site-footer {
  color: #ffffff;
  padding: 70px 50px;

  li {
    font-size: 20px;
  }
}
