@import '../../assets/scss/jn-mixins';
@import '../../assets/scss/jn-colors';

.background {
    width: 100%;
    min-height: 900px;
    max-height: 900px;
    margin-top: 150px;
    background: url('../../assets/images/banner.JPG');
    background-size: cover;
    background-position: bottom;
    @include animation(0s, 0.4s, slide-down, 1);
}

.banner {
    position: absolute;
    top: 180px;
    left: 150px;
    z-index: 99999;
    max-width: 500px;
    max-width: 500px;
}

.banner .title {
    font-size: 50px;
}

.awards {
    position: absolute;
    top: 180px;
    right: 150px;
    z-index: 99999;
}

.awards .award-item {
    min-width: 250px;
    max-width: 250px;
}

.cheesecake {
    position: absolute;
    display: block;
    top: 500px;
    right: 150px;
    text-align: center;
}

.cheesecake .cart-item-name {
    color: $base-white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cheesecake .cart-item-price {
    color: $base-white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
