<div class="background"></div>

<div class="banner color-white">
  <h1 class="title">Home of the best Cheesecake Milktea in town.</h1>
  <h5 class="subtitle">"A must try for milktea lovers." - Anonymous</h5>
</div>
<div class="awards">
  <img src="../../assets/images/award1.png" class="award-item">
  <img src="../../assets/images/award2.png" class="award-item">
</div>

<div class="jn-main-container">
  <div class="cheesecake">
    <div class="cart-item-name"> Cheesecake Milktea </div>
    <div class="cart-item-price"> 100 Php </div>
    <div> <button class="jn-button"> Add to cart </button></div>
  </div>
</div>
